.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.App-navbar a {
  padding: 12px;
  color: white; 
  text-decoration: none;
  border-width: 2px;
  border-color: gray;
  border-top-style: solid;
  border-bottom-style: solid;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

.App-navbar a:not(.active){
  background-color: #3a3a3a;
}

.App-navbar a.active {
  background-color: gray;
}

.App-navbar a:not(.active):hover,
.App-navbar a:not(.active):focus,
.App-navbar a.active:hover,
.App-navbar a.active:focus
 {
  background-color: rgb(160, 160, 160);
  border-color: rgb(160, 160, 160);
}

.App-navbar :first-child {
  padding-left: 20px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  border-left-style: solid;
}
.App-navbar :last-child {
  padding-right: 20px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-right-style: solid;
}

.row, .col { 
  display: flex;
}

.row { 
  flex-direction: row;
}

.col { 
  flex-direction: column;
}

.divider {
  width: 20px;
  height: 100%;
}

